.file_input {
  display: flex;
  align-items: center;
  padding: 0 10px 0 2px;
  width: max-content;
  min-width: 200px;
  max-width: 320px;
  height: 36px;
  border: 2px solid var(--secondary-bg);
  border-radius: 6px;
  margin: 8px;
  cursor: pointer;
  user-select: none;
}

.file_input .btn {
  height: 28px;
  margin: 0 8px 0 0;
  border-radius: 3px;
  font-size: 15px;
}
.file_input .btn::before {
  border-radius: 3px;
}

.file_input span {
  color: var(--secondary-color);
  font-size: 13px;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
