.radio_item {
  margin-right: 16px;
  user-select: none;
}
.radio_item label {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--secondary-color);
  padding-left: 28px;
  cursor: pointer;
}
.radio_item label:before, .radio_item label:after {
  content: '';
  position: absolute;
  border-radius: 50px;
  transition: all .3s ease;
  transition-property: transform, border-color;
}
.radio_item label:before {
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border: 2px solid var(--white-transparent-04);
}
.radio_item label:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  transform: scale(0);
  background: var(--accent-color);
}
.radio_item input[type="radio"] {
  display: none;
}
.radio_item input[type="radio"]:checked + label {
  color: var(--main-text-color);
}
.radio_item input[type="radio"]:checked + label:before {
  border-color: var(--accent-color);
  animation: ripple .3s linear forwards;
}
.radio_item input[type="radio"]:checked + label:after {
  transform: scale(1);
}
@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, .1);
  }
  100% {
    box-shadow: 0px 0px 0px 15px rgba(255, 255, 255, 0);
  }
}
