.text_input {
  display: flex;
  margin: 8px;
  width: calc(100% - 16px);
  height: 36px;
  min-width: 200px;
  max-width: 320px;
  padding: 0 8px;
  background-color: var(--default-transparent);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-bg);
  border-radius: 6px;
  font-size: 15px;
  transition: border-color .2s;
}
.text_input:hover, .text_input:focus {
  border-color: var(--accent-color);
}

